@model List<SerimCase.ViewModels.CustomerViewModel>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>E-posta</th>
            <th>Telefon No</th>
            <th>Doğum Tarihi</th>
            <th>Cinsiyet</th>
            <th>Kayıt Tarihi</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.SurName</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.BirthDay.ToString("d")</td>
                <td>@customer.Gender</td>
                <td>@customer.CreatedDate.ToString("d")</td>
                <td>@(customer.IsStatus ? "Aktif" : "Pasif")</td>
                <td>
                    @if (customer.IsStatus)
                    {
                        <a class="btn btn-danger" asp-controller="Customer" asp-action="deletecustomer" asp-route-id="@customer.Id">Sil</a>
                    }                    
                    <a class="btn btn-warning" asp-controller="Customer" asp-action="UpdateCustomer" asp-route-id="@customer.Id">Güncelle</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
